<% include head %>
<h2>All set!</h2><p/>
 <b>Once you return safely</b>, hit the following button on this page or in your email:<br/>
<a href="http://BeBack.at/checkin/<%=params.token%>"><img width="200px" src="http://files.pannous.net/safe.jpg" alt="SAFE!"/></a><p/> 
<br/>
<b>Should anything go wrong</b>, press this button:<br/>
<a href="http://BeBack.at/panic/<%=params.token%>"><img src="http://files.pannous.net/panic.png"  width="180px" alt="PANIC!"/></a><p/> 
<% include tail %>
