<!DOCTYPE html>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8">
<html>
<head>
	<title>I'll be back</title>
<!-- <script src="http://cdn.jsdelivr.net/webshim/1.14.5/extras/modernizr-custom.js"></script> -->
<script src="https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.15.10/polyfiller.js"></script>
<!-- Its a joke that FF is not supping date -->
<!-- cdn for modernizr, if you haven't included it already -->
<script>
	function grow2(this,event) {
this.size=this.size+1
}
function grow(me,event) {
if (event.keyCode == 13)me.rows=me.rows+1
}
</script>
</head>
<body>

<form action="submit" method="post">
	
	
I shall be back on the
<input type="hidden" name="token" value="<%=token%>" />
<input type="date" id="datePicker" name="day" type="date" min="2016-01-01" max="2050-01-01"> at
<input type="time" name="hour" placeholder="6 pm"/> 
<!-- <input type="number" name="hour" min="1" step="1"/> -->
.
<br/>
If not, please let these people know:
<input type="email" name="contacts" required placeholder="👥 your@friend.net" onkeypress="grow2" size="20"/> 
<br/>
Message:
 <textarea onkeypress="grow(this,event)" rows="1" cols="65" name="message" placeholder="🐴">🐴 I'm on a hike. If I don't make it back, please send a ranger.</textarea>
<br/>
<br/>
Please confirm with your email:
<input type="email" name="email" required placeholder="your@email.com"/> 
<input type="password" name="password" optional placeholder="**optional**"/> 
<br/>
<input type="submit"/>
</form>
<script>

  webshims.setOptions('waitReady', true);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
  document.getElementById('datePicker').value = new Date().toJSON().slice(0,10);
</script>
</body>
</html>
